<link href="http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css" rel="stylesheet">
<style>
    .nm {
        font-family: 'Nanum Myeongjo', serif;
        font-size: xxx-large;
    }
</style>

<div class="top_div2" align="right">
    <table class="top_table2">
        <tr style="border-left: 1px ">
            <td style="border-left: 1px;color:black"><a href="/logout">로그아웃</a></td>
        </tr>
    </table>
</div>
<header>

    <nav class="navbar navbar-default">
        <div class="container">
            <img src="/logo.png" alt="" class="brand-logo" />
            <h1 class="nm">단 골 찬 관리자 페이지</h1>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <!--<a class="navbar-brand" href="#">Brand</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>

