<div class="top_div" align="right">
    <table class="top_table" rules=cols>
        <tr style="border-left: 1px solid lightgray;">
            <td style="border-left: 1px solid lightgray;color:black"><a href="/logout">로그아웃</a></td>
        </tr>
    </table>
</div>

<div style="text-align: center;">
    <a class="norma" href="/customer"><img src="/images/logo_admin3.png"/></a>
</div>
<!--  style="width:239px; height:247px"
<div class="top_div" align="right">
    <table class="top_table" rules=cols>
        <tr style="border-left: 1px solid lightgray;">
            <td style="border-left: 1px solid lightgray;color:black"></td>
        </tr>
    </table>
</div>
<br><br> -->