<div class="top_div" align="right">
    <table class="top_table" rules=cols>
        <tr style="border-left: 1px solid lightgray;">
            <td style="border-left: 1px solid lightgray;"><a href="/logout">로그아웃</a></td>
            <td style="border-left: 1px solid lightgray;"><a href="/customer/cart">장바구니</a></td>
            <td style="border-left: 1px solid lightgray;"><a href="/customer/mypage">마이페이지</a></td>
        </tr>
    </table>
</div>
<div style="text-align: center">
    <a class="normal_a" href="/customer"><img src="/images/logo.png" /></a>
    <h1 style="color: rgb(105, 65, 46)">단 골 찬</h1>
</div>
<br><br>