body {
    padding: 20px;
    padding-top: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.body {
  padding: 20px;
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.top_div {
    color: white;
    font-size: 10px;
    width: 100%;
    height: 9%;
    margin-top: -20;
    border-bottom: 1px solid black;
}

.top_div2 {
    color: white;
    font-size: 15px;
    width: 100%;
    height: 9%;
    margin-top: -20;
}

.top_table {
    border-right: 1px solid lightgrey;
    height: 100%;
    margin-bottom: 3px;
    padding: 15px;
    border-spacing: 10px;
}

.top_table2 {
    border-right: 0px solid lightgrey;
    height: 100%;
    margin-bottom: 3px;
    padding: 15px;
    border-spacing: 10px;
}

.tab_table {
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-style: normal;
    width: 100%;
    text-align: center;
    padding-right: 2%;
    padding-left: 2%;
    margin: 0px;
}

.tab_select {
    color: rgb(185, 122, 86);
    font-weight: bold;
}

.tab_noselect {
    color: rgb(185, 122, 86);
    font-weight: normal;
}

.mypage_table {
    font-size: 19px;
    color: rgb(44, 27, 19);
    font-style: normal;
    width: 100%;
    text-align: center;
    padding-right: 2%;
    padding-left: 2%;
    margin: 0px;
    border-spacing: 30px;
}

.mypage_button {
    background-color: rgb(255, 195, 65);
    color: white;
    width: 40px;
    height: 30px;
}

select {
    width: 100px;
    /* 원하는 너비설정 */
    padding: .8em .5em;
    /* 여백으로 높이 설정 */
    font-family: inherit;
    /* 폰트 상속 */
    background: url('/pointer.png') no-repeat 95% 50%;
    /* 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 1px solid rgba(153, 153, 153, 0.673);
    border-radius: 0px;
    /* iOS 둥근모서리 제거 */
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}

.wraper {
    position: relative;
    display: inline-block;
    margin: auto;
    margin-top: 0px;
}

.wraper .recList {
    position: absolute;
    width: 200px;
    padding: 0;
    visibility: hidden;
    background-color: lightgray;
    text-align: center;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
}

.wraper .recList::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 50%;
    margin: -60px 0 0 -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
}

.wraper:hover .recList {
    visibility: visible;
}

.slidiv {
    height: 720px;
    width: 100%;
    transition: 1s;
    border: 1px solid #000;
    /* align-items: center; */
    /* text-align: center; */
    /* padding-left: 2%; */
}

.slidiv:hover {
    height: 720px;
    width: 100%;
    background: rgb(255, 255, 255);
    color: #fff;
    /* align-items: center; */
    /* text-align: center; */
    /* padding-left: 2%;    */
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    align-items: center;
    text-align: center;
    border-style: hidden;
}

#slide {
    height: 720px;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-style: hidden;
}

#slide ul {
    width: 400%;
    height: 100%;
    transition: 1s;
    text-align: center;
}

#slide ul:after {
    content: "";
    display: block;
    clear: both;
}

#slide li {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
}

#slide li:nth-child(1) {
    background: url('/gallery1.png') no-repeat 90% 90%;
}

#slide li:nth-child(2) {
    background: url('/gallery3.png') no-repeat 90% 90%;
}

#slide li:nth-child(3) {
    background: url('/gallery2.png') no-repeat 90% 90%;
}

#slide li:nth-child(4) {
    background: url('/gallery4.png') no-repeat 90% 90%;
}

#slide input {
    display: none;
}

#slide label {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border: 2px solid rgba(154, 154, 154, 0.925);
    background: #fff;
    transition: 0.3s;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

#slide .pos {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

#pos1:checked~ul {
    margin-left: 0%;
}

#pos2:checked~ul {
    margin-left: -100%;
}

#pos3:checked~ul {
    margin-left: -200%;
}

#pos4:checked~ul {
    margin-left: -300%;
}

#pos1:checked~.pos>label:nth-child(1) {
    background: rgb(255, 255, 255);
}

#pos2:checked~.pos>label:nth-child(2) {
    background: rgb(106, 82, 82);
}

#pos3:checked~.pos>label:nth-child(3) {
    background: rgb(113, 39, 39);
}

#pos4:checked~.pos>label:nth-child(4) {
    background: rgb(106, 0, 0);
}